<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Asset Management</title>
  </head>
  <body>
    <%- include("./sidebar.ejs") %>

    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <div class="container-fluid">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Asset Name</th>
                <th scope="col">Category</th>
                <th scope="col">Asset Date</th>
                <th scope="col">Created Date</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <% listAssets.map((value,index)=>{ %>
              <tr>
                <td scope="row"><%= index + 1 %></td>
                <td><%= value.AssetName %></td>
                <td><%= value.Category.CategoryName %></td>
                <td><%= value.AssetDate %></td>
                <td><%= value.CreatedDate.toLocaleDateString() %></td>
              </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
      </section>
    </div>
  </body>
</html>
