<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>

    <!-- Google Font: Source Sans Pro -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback"
    />
    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="/public/plugins/fontawesome-free/css/all.min.css"
    />
    <!-- Ion Slider -->
  
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- bootstrap slider -->
   
    <!-- Theme style -->
    <link rel="stylesheet" href="/public/dist/css/adminlte.min.css" />
  </head>
  <body class="hold-transition sidebar-mini">
    <div class="wrapper">
      <!-- Main Sidebar Container -->
      <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a href="#" class="brand-link">
          <img
          src="/public/dist/img/AdminLTELogo.png"
          alt="AdminLTE Logo"
          class="brand-image img-circle elevation-3"
          style="opacity: 0.8"
          />
          <span class="brand-text font-weight-light"><%= currentRole %></span>
        </a>
        
        <!-- Sidebar -->
        <div class="sidebar">
          <!-- Sidebar user (optional) -->
          <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
            <img
              src="/public/dist/img/user2-160x160.jpg"
              class="img-circle elevation-2"
              alt="User Image"
              />
            </div>
            <div class="info">
              <a href="#" class="d-block"><%= staff %></a>
            </div>
          </div>
          
          <!-- Sidebar Menu -->
        <nav class="mt-2">
          <ul
            class="nav nav-pills nav-sidebar flex-column"
            data-widget="treeview"
            role="menu"
            data-accordion="false"
          >
            <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
            
            <li class="nav-item ">
              <a href="/user" class="nav-link <%= role != 4? 'd-none' :''%>">
                <i class="nav-icon fas fa-copy"></i>
                <p>Account Management</p>
              </a>
            </li>
            <li class="nav-item <%= role != 2? 'd-none' :''%>">
              <a href="/asset" class="nav-link">
                <i class="nav-icon fas fa-copy"></i>
                <p>Asset Management</p>
              </a>
            </li>
            <li class="nav-item <%= role != 4? '' :'d-none'%>">
              <a href="/assignments" class="nav-link">
                <i class="nav-icon fas fa-copy"></i>
                <p>Assignment Management</p>
              </a>
            </li>

            <li class="nav-item <%= role != 2? 'd-none' :''%>">
              <a href="/requestReturning" class="nav-link">
                <i class="nav-icon fas fa-copy"></i>
                <p>Request Return Management</p>
              </a>
            </li>
            <li class="nav-item <%= role != 4? '' :'d-none'%>">
              <a href="/requestBorrow" class="nav-link">
                <i class="nav-icon fas fa-copy"></i>
                <p>Request Borrow Management</p>
              </a>
            </li>
            <li class="nav-item <%= role != 4? '' :'d-none'%>">
              <a href="/requestBuyNew" class="nav-link">
                <i class="nav-icon fas fa-copy"></i>
                <p>Request Buy New Management</p>
              </a>
            </li>
            <li class="nav-item <%= role != 2? 'd-none' :''%>">
              <a href="/category" class="nav-link">
                <i class="nav-icon fas fa-copy"></i>
                <p>Category Management</p>
              </a>
            </li>
            <li class="nav-item <%= role != 4 ? 'd-none' : '' %>">
              <a href="/department" class="nav-link">
                <i class="nav-icon fas fa-copy"></i>
                <p>Department Management</p>
              </a>
            </li>
            <li class="nav-item d-none">
              <a href="/role" class="nav-link">
                <i class="nav-icon fas fa-copy"></i>
                <p>Role Management</p>
              </a>
            </li>
            <li class="nav-item <%= role != 2 ? 'd-none' : '' %>">
              <a href="/penaltyBill" class="nav-link">
                <i class="nav-icon fas fa-copy"></i>
                <p>Penalty Bill Management</p>
              </a>
            </li>
            <li class="nav-item <%= role != 2 ? 'd-none' : '' %>">
              <a href="/penaltyRule" class="nav-link">
                <i class="nav-icon fas fa-copy"></i>
                <p>Penalty Rule Management</p>
              </a>
            </li>
            <li class="nav-item <%= (role == 2|| role == 3) ? '' : 'd-none' %>">
              <a href="/requestRepair" class="nav-link">
                <i class="nav-icon fas fa-copy"></i>
                <p>Request Repair By Stocker Management</p>
              </a>
            </li>
            <li class="nav-item <%= (role == 2|| role == 3) ? '' : 'd-none' %>">
              <a href="/requestRepair/staff" class="nav-link">
                <i class="nav-icon fas fa-copy"></i>
                <p>Request Repair By Staff Management</p>
              </a>
            </li>
            <li class="nav-item <%=  role != 2 ? 'd-none' : '' %>">
              <a href="/storage" class="nav-link">
                <i class="nav-icon fas fa-copy"></i>
                <p>Storage Event Management</p>
              </a>
            </li>
            <li class="nav-item <%=  role != 2 ? 'd-none' : '' %>">
              <a href="/quality" class="nav-link">
                <i class="nav-icon fas fa-copy"></i>
                <p>Quality Management</p>
              </a>
            </li>
          </ul>
        </nav>
        <!-- /.sidebar-menu -->
        <div class="d-flex justify-content-center">
          <button class="btn btn-default " onclick="handleLogout()">
            Logout
          </button>
        </div>
      </div>
      <!-- /.sidebar -->
    </aside>
    <!-- jQuery -->
    <script src="/public/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="/public/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/public/dist/js/adminlte.min.js"></script>
    <!-- Ion Slider -->
    <!-- Bootstrap slider -->
    <!-- AdminLTE for demo purposes -->
    <!-- Page specific script -->
    <script>
        function delete_cookie(name) {
        document.cookie =
          name + "=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;";
        }
        handleLogout = async () => {
          delete_cookie("user");
          await $.ajax({
            url: "/user/api/_logout",
            type: "POST",
          }).then(()=>{
            window.location.href="/user/loginadmin"
          }).catch((e)=>{
            console.log(e);
          })
    }
    </script>
  </body>
</html>
